*{
    box-sizing: border-box;
}

body{
    font-family: 'Glory', sans-serif;
}

 /* NavBar */
 ul{
    display:flex;
    flex-direction:row;
}
ul > a{
    list-style:none;
    text-decoration: none;
    margin-left:4%;
    color:#000000;
    border:1px solid #aaaaaa;
    font-size:18px;
    font-weight: bolder;
    padding:5px;
    border-radius:4px;
    box-shadow: inset 0px 0px 0px #2F3B47;
    transition: all 0.5s !important;
}
a:hover{
    box-shadow: inset 150px 0px 0px #2F3B47;
    color:#ffffff;
}

h1{
    text-align: center;
}
/* Main Container */
.main-container{
    display:flex;
    flex-direction: row;
}
.cards-container{
    width:70%;
}
.first-row{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top:5%;
}
.second-row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 530px;
    align-items: center;
}
.shopping-list{
    width:10%;
}
.shopping-list > h2{
    text-align: center;
}
.card-title{
    font-size:16px;
}
.card-img-top{
    width: 284px;
  object-fit:cover;
}
.card_custom{
    border:2px solid #aaaa;
    box-shadow: 10px 10px 5px #aaaaaa;
    height: 330px;
}
.card-body{
    padding:0 15px;
    height: fit-content;
    position: relative;
}
.btn{
    text-decoration: none;
    color:#000000;
    border:1px solid #000000;
    padding:5px;
    font-size:16px;
    box-shadow: inset 0px 0px 0px #2F3B47;
    transition: all 0.5s !important;
}
.btn:hover{
    box-shadow: inset 150px 0px 0px #2F3B47;
    color:#ffffff;
}
.shopping-list{
    border:1px solid #aaaaaa;
    width:20%;
    height: auto;
    max-height: fit-content;
}
.add-item{
  position:absolute;
  right:10px;
  bottom:1px;
  background:#ffffff;
  font-size:20px;
  box-shadow: inset 0px 0px 0px #2F3B47;
  transition: all 0.5s !important;
}
.add-item:hover{
    box-shadow: inset 150px 0px 0px #2F3B47;
    color:#ffffff;
    cursor:pointer;
}
.card-selector{
    padding:5px;
    font-size:12px;
    font-weight: bold;
    border:none;
    width:min-content;
}
.item-price1, .item-price {
    padding-left:5px;
    font-size:14px;
    font-weight: bold;
    display:none;
}

.shopping-list{
display:grid;
grid-auto-flow:row;
grid-template-rows:95% 5%;
}
.shoppingList-total p{
    font-size:20px;
    font-weight: bold;
    margin-left:5px;
}
.shoppingList-items h2{
    text-align: center;
}
